[Desktop Entry]
Type=Application
Name=Automatyczne uruchamianie LXInput
Comment=Ustaw klawiaturę i mysz używając ustawień dokonanych w LXInput
NoDisplay=true
Exec=sh -c 'xset m 20/10 10 r rate 500 30 b on'
NotShowIn=GNOME;KDE;XFCE;
